.logo-with-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--color-dark-2);
  background-color: var(--color-light-3);
  padding: 24px;
}

.logo-with-text__image {
  width: 40px;
}

@media (min-width: 576px) {
  .logo-with-text {
    border-radius: 12px;
  }
}
